
venv/
.venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
node_modules/
.env
secretos.json
credentials.json
*.pem
*.key
Thumbs.db
ehthumbs.db
desktop.ini
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.log
.cache/
*json
*docx
*txt
*flac
*mp3
temp_*/
!requirements.txt

